@import "tailwindcss";

:root {
  /* --background: #f5f5f5; */
  --background: white;
  --foreground: #171717;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden auto;
}


/* * {
  border: 0.5px solid blue;
}

div {
  border: 0.5px solid red;
} */

/* reusable responsive padding classx */
@layer utilities {
  .responsive-padding {
    @apply px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100svh;
}

h1 {
  font-family: "Space Grotesk", serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-family: "Space Grotesk", serif;
  font-size: 1.75rem;
  color: #A4F5F9;
  font-weight: 200;
  line-height: 110%;
}

h3 {
  font-family: "Space Grotesk", serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 110%;
}

h4 {
  font-family: "Manrope", serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
} 

h5 {
  font-family: "Manrope", serif;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-family: "Manrope", serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-family: "Manrope", serif;
}

.sulphur-font {
  font-family: var(--font-kanit), sans-serif;
}

.open-sans-font {
  font-family: var(--font-archivo), sans-serif;
}

.purple-radial-gradient {
  background: radial-gradient( circle at 70% 30%, #fb00ff85, transparent);
}

.branded-card::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.dotted-bg {
  backdrop-filter: blur(10px);
  background: 
  radial-gradient(transparent 0%, transparent 30%, rgba(0, 0, 0, 0.5) 0%);
  background-repeat: repeat;
  background-size: 5px 5px;
}

.dotted-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.3), black),
  linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: -1;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  /* overflow: hidden; */
  padding: 0.5rem 1.5rem;
  z-index: 10;
  width: 90%;
  backdrop-filter: blur(10px);
  background: 
  linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
  linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.navbar-alt {
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));   */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  padding-bottom: 0.75rem;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.black-center-grad {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), black,rgba(0, 0, 0, 0.5));
  border-radius: 999px;
}

.hover-gradient {
  background: linear-gradient(to left, transparent, #00D1DA, transparent);
  z-index: 10;
}

.select-gradient {
  background: linear-gradient(to left, #FC00FF, transparent, #FC00FF);
}

.bg-brand-gradient {
  background: radial-gradient( #FC00FF, #00D1DA);
}

.bg-black-grad {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

@media (min-width: 768px) {
  .navbar {
    padding: 0.75rem 1.75rem;
    width: auto;
  }
  .navbar-alt {
    padding: 1.75rem;
    padding-bottom: 0.75rem;
  }
}

.big-blur::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  z-index: 1;
  pointer-events: none;
}

.landing-bg-grad {
  background: linear-gradient(to bottom right, #000000, #FC00FF);
}

/* Scrollbar Styling */
* {
  scrollbar-width: thin;
}

/* WebKit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Gradient Thumb */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Gradient Track */
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* slide carousel */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  height: 100%;
}

.embla-viewport {
  overflow: hidden;
  height: 100%;
}

.embla__prev,
.embla__next {
  top: 50%;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.embla__prev {
  left: 10px;
}

.embla__next {
  right: 10px;
}
